<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h1><i></i></h1>
<div class="topnav">
    <a href="/">Back</a>
</div>

<h1>e621 Image Searcher</h1>
<p>This is an e621 image searcher.</p>
<p>You may see things you don't want to — use at your own risk.</p>

<div class="container">
    <form method="GET" action="/search">
        <label for="tags">Enter tags to search:</label>
        <input type="text" name="tags" id="tags">

        <label for="rating">Select rating:</label>
        <select name="rating" id="rating">
            <option value="rating:safe">Safe</option>
            <option value="rating:questionable">Questionable</option>
            <option value="rating:explicit">Explicit</option>
        </select>

        <input type="submit" value="Search">
    </form>
</div>

</body>
</html>
